:root {
  --coral: #f05d5e;
  --teal: #0f7173;
  --light: #e7ecef;
  --dark: #272932;
  --camel: #d8a47f;
}

html {
  font-size: 100%;
}

body {
  background-color: var(--light);
}

h1 {
  font-size: 2.25rem;
}

p {
  font-size: 0.75rem;
}

.card {
  padding: 10px;
  margin: 10px;
}

.pet-pic {
  width: 250px;
  transition: 250ms ease-in-out;
}

.pet-pic:hover {
  transform: scale(2, 2);
}

.card-container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ipsum {
  font-family: "Raleway", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
}

@media only screen and (min-width: 400px) {
  .ipsum {
    display: none;
  }
}

@media only screen and (min-width: 700px) {
  html {
    font-size: 120%;
  }
  body {
    background-color: var(--teal);
  }
  .ipsum {
    display: block;
  }
}

@media only screen and (min-width: 1000px) {
  html {
    font-size: 150%;
  }
  body {
    background-color: var(--camel);
  }
  .ipsum {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: white;
  }
  a {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: white;
    color: #555;
  }
}
